/* ВЕРХНЯЯ ПАНЕЛЬ */

.blue-btn {
    padding: 10px 30px;
    background: #356dab;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 13px;
}

.green-btn {
    padding: 10px 30px;
    background: #35ab3b;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    min-width: 33px;
}

.red-btn {
    padding: 10px 30px;
    background: #ec4141;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    min-width: 33px;
}

.gray-btn {
    padding: 10px 30px;
    background: #868686;
    color: #fff;
    border-radius: 5px;
    border: none;
    font-size: 13px;
    min-width: 33px;
}

.blue-btn:hover {
    background: #115096;
    color: #fff;
    cursor: pointer;
    min-width: 33px;
}

.green-btn:hover {
    background: #1c8e21;
    color: #fff;
    cursor: pointer;
}

.red-btn:hover {
    background: #ca2f2f;
    color: #fff;
    cursor: pointer;
}

.green {
    background: #d6ffb6;
}

.orange {
    background: #ffe070;
}

.red {
    background: #ffb6b6;
}
.blue-text {
    color: #356dab;
}

/* ОБЩИЕ СТИЛИ */




/* ВЕРХНЯЯ ПАНЕЛЬ */

.control-panel {
    padding: 10px;
    border-bottom: 1px solid #c9c9c9;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
}

.item-control>.item-control {
    margin-left: 10px;
}

.line-up {
    width: 1px;
    margin: -10px 0 !important;
    background: #c9c9c9;
}

.title-page>span {
    margin: auto 20px;
}

.title-page {
    display: flex;
}

.control-panel>div {
    margin-right: 10px;
}

.control-panel>div:last-child {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0px;
}


.search-input {
    flex-shrink: 0;
}

.content-panel {
    flex-grow: 1;
    padding: 10px;
    overflow-x: auto;
    background: #f9f9f9;
    min-width: fit-content;
}

.search-input > span {
    border: 1px solid #ccc;
    padding: 8px 10px 8px 10px;
    font-size: 14px;
    margin: 0px -1px 0px 0px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-input>input {
    padding: 6px 10px 6px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    min-width: 250px;
    line-height: 18px;
    font-size: 14px;
}

/* END */
