<div class="control-panel">
		<div class="item-control">
			<button class="gray-btn" routerLink="/projects">ВЕРНУТЬСЯ</button>
		</div>
		<div class="line-up"></div>
		<div class="title-page"><span>УПРАВЛЕНИЕ ПРОЕКТОМ 
			"<span class="blue-text" *ngIf="project!=undefined">{{project.name}}</span>"
		</span></div>
		<div class="item-control">
			<div class="item-control">
				<button class="blue-btn">НАСТРОЙКИ ПРОЕКТА</button>
			</div>
			<div class="item-control">
				<button class="blue-btn" (click)="onAddTask()">ДОБАВИТЬ ЗАДАЧУ</button>
			</div>
			<div class="search-input">
				<span><i class="fa fa-search" aria-hidden="true"></i></span>
				<input type="text" placeholder="ПОИСК ЗАДАЧИ">
			</div>
		</div>
	</div>
<div class="content-panel">
  <project-task-list></project-task-list>
</div>
