<div class="window-panel chat-panel">
  <div class="window-title">
    <span>ОБСУЖДЕНИЕ ЗАДАЧИ</span>
    <div class="title-btn-section">
    </div>
  </div>
  <div class="window-body">
    <div class="chat-component">
      <div class="chat-list">
        <div class="message-item" *ngFor="let conversation of conversations">
          <div class="user-message">
            <div class="user-avatar">
              <img src="./assets/avatar.png" alt="">
            </div>
            <div class="user-name">
              <span>{{conversation.senderName}} <span>({{conversation.senderRoleName}})</span> {{conversation.created}}</span>
            </div>
          </div>
          <div class="text-message">
            <span>{{conversation.message}}</span>
          </div>
        </div>
      </div>
      <div class="chat-control">
        <input type="text" class="chat-input" [(ngModel)]="message" required>
        <button class="gray-btn" (click)="sendMessage()">ОТПРАВИТЬ</button>
      </div>
    </div>
  </div>
</div>