<div class="window-section">
    <div class="window-panel">
        <div class="window-title">
            <span>ЗАДАЧА "<span class="blue-text">{{ task.name }}"</span></span>
            <div class="title-btn-section">
                <div class="red-btn small-text" (click)="ngxSmartModalService.getModal('deleteTask').open();">УДАЛИТЬ ЗАДАЧУ</div>
            </div>
        </div>
        <div class="window-body">
            <div class="form-group">
                <label>Текст задачи:</label>
                <span class="italic">{{ task.description }}</span>
            </div>
            <hr>
            <div class="form-group-inline">
                <label>Начиная с:</label>
                <span class="italic">
                    {{ task.startDate }}
                </span>
                <label>по:</label>
                <span class="italic">
                    {{ task.completionDate }}
                </span>
            </div>
            <hr>
            <div class="form-group-inline">
                <label>Поставил:</label>
                <div class="user-item">
                    <div class="user-avatar">
                        <img src="./assets/avatar.png" alt="">
                    </div>
                    <div class="user-name">
                        <span>{{ task.responsibleName }} <span>({{ task.responsibleRoleName }})</span></span>
                    </div>
                </div>
            </div>
            <hr>
            <label>Контролируют:</label>
            <hr>
            <div class="user-h-list">
                <div class="user-item" *ngFor="let reviewer of reviewers">
                    <div class="user-avatar">
                        <img src="./assets/avatar.png" alt="">
                    </div>
                    <div class="user-name">
                        <span>{{ reviewer.reviewerName }} <span>({{ reviewer.reviewerRoleName }})</span></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ngx-smart-modal #deleteTask identifier="deleteTask" customClass="medium-modal">
    <div class="form-group">
        <span>Удалить задачу <b>"{{ task.name }}"</b>?</span>
        <div class="red-btn" (click)="removeTask(task.id)">Удалить</div>
    </div>
</ngx-smart-modal>