<div class="window-panel">
    <div class="window-title">
        <span>СТАТУС ВЫПОЛНЕНИЯ</span>
        <div class="title-btn-section">
            <span class="new-task-span user-task-status" *ngIf="implementer"><span>{{ implementer.statusName }}</span></span>
        </div>
    </div>
    <div class="window-body">
        <div class="user-v-list">
                <div class="user-status">
                    <div class="form-group">
                        <label for="">Выберете статус</label>
                        <select class="form-control" [(ngModel)]="selectedStatus">
                            <option *ngFor="let taskStatus of taskStatuses" [ngValue]="taskStatus.id">{{ taskStatus.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="">Укажите комментарий</label>
                        <textarea [(ngModel)]="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label><input type="checkbox" [(ngModel)]="needAddResourceExpense"/> Добавить расход</label>
                    </div>
                    <div class="object-filter-chek-list-analitika form-group" *ngIf="needAddResourceExpense">
                        <label>Укажите расход</label>
                        <input type="number" [(ngModel)]="resourceExpense" class="form-control" required>
                    </div>
                    <button class="blue-btn save-btn" (click)="changeTaskStatus()">СОХРАНИТЬ</button>
                </div>
        </div>
    </div>
</div>