<div class="body-item-content">
  <div class="item-body name-project">
    <div *ngIf="itemData.childProjects.length > 0" class="item-toggle-btn" (click)="toggle()">
      <i *ngIf="visibleProjectChildStatus" class="fa fa-chevron-down" aria-hidden="true"></i>
      <i *ngIf="!visibleProjectChildStatus" class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div *ngIf="itemData.childProjects.length < 1" class="item-toggle-btn one-project"></div>
    <span routerLink="/project/{{itemData.id}}/tasks">{{ itemData.name }}</span>
  </div>
  <div class="item-body bos"><span>{{ itemData.responsibleName }}</span></div>
  <div class="item-body task-end gray"><span>{{ itemData.taskCompletedCount }}</span></div>
  <div class="item-body process">
    <div class="progress-bar">
      <div class="body green" [ngStyle]="{'width.px': (itemData.taskCompletedCount) / (itemData.taskCount / 100)  }"></div>
    </div>
  </div>
  <div class="item-body task-count gray"><span>{{ itemData.taskCount }}</span></div>
  <div class="item-body start-date"><span>{{ itemData.startDate }}</span></div>
  <div class="item-body end-date"><span>{{ itemData.completionDate }}</span></div>
  <div class="item-body resources-all"><span *ngIf="itemData.projectResource">{{ itemData.projectResource.count }}р</span></div>
  <div class="item-body resources-consumed"><span>{{ itemData.projectResourceExpense }}р</span></div>
  <div class="item-body resources-balance"><span>{{ itemData.projectResource.count - itemData.projectResourceExpense }}р</span></div>
  <div class="item-btn-section">
    <button class="gray-btn" routerLink="/project-wizard/{{itemData.id}}"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button class="gray-btn" routerLink="/project-edit-wizard/{{itemData.id}}"><i class="fa fa-cog" aria-hidden="true"></i></button>
    <button class="blue-btn" routerLink="/project/{{itemData.id}}/tasks"><i class="fa fa-folder-open" aria-hidden="true"></i></button>
    <button class="green-btn" routerLink="/project/{{itemData.id}}/schedule"><i class="fa fa-tasks" aria-hidden="true"></i></button>
    <button class="red-btn" (click)="ngxSmartModalService.getModal('deleteTask').open();"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>
<div class="in-item-body-content" *ngIf="visibleProjectChildStatus">
  <div *ngFor="let in_item of itemData.childProjects">
    <project-item [itemData]="in_item"></project-item>
  </div>
</div>
<ngx-smart-modal #deleteTask identifier="deleteTask" customClass="medium-modal">
  <div class="form-group">
      <span>Удалить проект <b>"{{ itemData.name }}"</b>?</span>
      <div class="red-btn" (click)="removeProject(itemData.id)">Удалить</div>
  </div>
</ngx-smart-modal>