<div class="item-content">
    <div class="title-content">
        <div class="item-title name-project" ><span>НАЗВАНИЕ ЗАДАЧИ</span></div>
				<div class="item-title order"><span>ПОРЯДОК</span></div>
				<div class="item-title start-date"><span>НАЧАЛО</span></div>
				<div class="item-title end-date"><span>КОНЕЦ</span></div>
				<div class="item-title status"><span>СТАТУС</span></div>
				<div class="item-title task-end"><span>ЗАДАЧ ВЫПОЛНЕНО</span></div>
				<div class="item-title process"><span>ПРОЦЕСС</span></div>
				<div class="item-title task-count"><span>ЗАДАЧ ВСЕГО</span></div>
				<div class="item-title bos"><span>ОТВЕТСТВЕННЫЙ</span></div>
				<div class="item-title resources-all"><span>ДОСТУПНО</span></div>
				<div class="item-title resources-consumed"><span>РАСХОД</span></div>
				<div class="item-title resources-balance"><span>ОСТАТОК</span></div>
				<div class="item-btn-section"></div>
    </div>
</div>
<div *ngIf="!allTask">
  <preloader></preloader>
</div>
<div *ngFor="let item of allTask" class="item-content">
	<project-task-item [itemData]="item" (onDelete)="onDelete()"></project-task-item>
</div>