/* ПРОГРЕСБАР */

.progress-bar {
    height: 20px;
    width: 100%;
    background: #ececec;
    border: 1px solid #333;
    margin: auto;
}

.progress-bar>.body {
    height: 100%;
}

.progress-bar>.body.green {
    background: #9be065;
}

.progress-bar>.body.orange {
	background: #f9c91e;
}

.order {
    min-width: 110px;
}

.item-title.status {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.item-body.order {
    background: #e6e6e6;
}

.item-title.task-end, .item-title.task-count {
    padding: 0 8px;
}

.progress-bar>.body.red {
    background: #ff5858;
}
/* END */


.item-toggle-btn>i {
    margin: auto;
    font-size: 20px;
}

.item-toggle-btn {
    margin: -1px 0px -1px -11px;
    width: 40px;
    border: 1px solid #333;
    display: flex;
}

.item-body.name-project>span {
    margin: auto 10px !important;
}

.item-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.title-content {
    display: flex;
    flex-grow: 1;
    background: #fff;
}

.in-item-body-content>div {
    margin: 10px 0;
}

.in-item-body-content {
    margin: 15px 0px 5px 40px;
}

.item-toggle-btn.one-project {
    background: #e6e6e6;
}

.title-content>div:last-child {
    border-right: 1px solid #333;
}

.title-content>div {
    border: 1px solid #333;
    border-right: none;
}

.body-item-content {
    display: flex;
    flex-grow: 1;
    background: #fff;
}

.item-toggle-btn > i.fa.fa-chevron-down {
    margin-top: 10px;
}

.item-btn-section > button {
  padding: 6px 10px;
  margin: auto 2px;
}

.item-btn-section>button:first-child {
  margin-left: 4px !important;
}

.body-item-content>div:last-child {
    display: flex;
    border-right: 1px solid #333;
}

.body-item-content>div {
    border: 1px solid #333;
    border-right: none;
}

.item-title {
    height: 40px;
    display: flex;
    padding: 10px 10px;
    font-size: 12px;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: 600;
}

.item-title.task-count {
    width: 80px;
    font-size: 9px;
    text-align: center;
    border: 1px solid #333;
    border-left: none;
    border-right: none;
}

.item-title.task-end {
    width: 80px;
    font-size: 9px;
    text-align: center;
    border: 1px solid #333;
    border-right: none;
}

.item-btn-section {
    width: 120px;
    min-width: 120px;
    max-width: 120px;
}

.item-title.name-project {
    flex-grow: 1;
}

.item-title > span {
	margin: auto;
}

.item-title.name-project > span {
    margin: auto 0 !important;
}

.item-title.process {
    width: 200px;
    text-align: center;
    border: 1px solid #333;
}

.name-project {
    min-width: 150px;
    overflow-x: hidden;
    white-space: nowrap;
}

.body-item-content {
    box-shadow: 1px 5px 15px 0px #0002;
}

.start-date {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.end-date {
    min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.bos {
    min-width: 230px;
    max-width: 230px;
    width: 230px;
}

.resources-all {
	min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.resources-consumed {
	min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.resources-balance {
	min-width: 100px;
    max-width: 100px;
    width: 100px;
}

.item-body {
    height: 40px;
    display: flex;
    padding: 0px 10px;
    font-size: 14px;
    flex-grow: 0;
    flex-shrink: 0;
}

.item-body.task-count {
    width: 80px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #333;
    border-left: none;
    border-right: none;
}

.item-body.task-end {
    width: 80px;
    font-size: 13px;
    text-align: center;
    border: 1px solid #333;
    border-right: none;
}

.item-body.name-project {
    flex-grow: 1;
}

.item-body > span {
	margin: auto;
}

.item-body.name-project > span {
    margin: auto 10px !important;
}

.item-body.process {
    width: 200px;
    display: flex;
    border: 1px solid #333;
}

.item-btn-section {
    width: 155px;
    min-width: 155px;
    max-width: 155px;
}