<div class="body-item-content">
  <div class="item-body name-project">
    <div *ngIf="itemData.childTasks.length > 0" class="item-toggle-btn" (click)="toggle()">
      <i *ngIf="visibleTaskChildStatus" class="fa fa-chevron-down" aria-hidden="true"></i>
      <i *ngIf="!visibleTaskChildStatus" class="fa fa-chevron-right" aria-hidden="true"></i>
    </div>
    <div *ngIf="itemData.childTasks.length < 1" class="item-toggle-btn one-project"></div>
    <span routerLink="/task/{{itemData.id}}">{{ itemData.name }}</span>
  </div>
  <div class="item-body order">
    <span *ngIf="itemData.executionOrder.executionOrderType==1">{{ itemData.executionOrder.executionOrder }}</span>
    <span *ngIf="itemData.executionOrder.executionOrderType==2">{{ itemData.executionOrder.executionOrderTypeName }}</span>
  </div>
  <div class="item-body start-date">
    <span>{{ itemData.startDate }}</span>
  </div>
  <div class="item-body end-date">
      <span>{{ itemData.completionDate }}</span>
  </div>
  <div class="item-body status green">
      <span>{{ itemData.statusName }}</span>
    </div>
  <div class="item-body task-end gray">
    <span>{{ itemData.taskCompletedCount }}</span>
  </div>
  <div class="item-body process">
    <div class="progress-bar">
      <div class="body green" [ngStyle]="{'width.px': (itemData.taskCompletedCount) / (itemData.taskCount / 100)  }"></div>
    </div>
  </div>
  <div class="item-body task-count gray">
    <span>{{ itemData.taskCount }}</span>
  </div>
  <div class="item-body bos">
    <span>{{ itemData.responsibleName }}</span>
  </div>
  <div class="item-body resources-all">
    <span *ngIf="itemData.taskResource">{{ itemData.taskResource.count }}р</span>
    <span *ngIf="!itemData.taskResource">не указано</span>
  </div>
  <div class="item-body resources-consumed"><span>{{ itemData.taskResourceExpense }}р</span></div>
  <div class="item-body resources-balance"><span>{{ itemData.taskResource.count - itemData.taskResourceExpense }}р</span></div>
  <div class="item-btn-section">
    <button class="gray-btn" routerLink="/task-wizard/{{itemData.projectId}}/{{itemData.id}}"><i class="fa fa-plus" aria-hidden="true"></i></button>
    <button class="blue-btn" routerLink="/task-edit-wizard/{{itemData.id}}"><i class="fa fa-cog" aria-hidden="true"></i></button>
    <button class="green-btn"  routerLink="/project/{{itemData.projectId}}/schedule"><i class="fa fa-tasks" aria-hidden="true"></i></button>
    <button class="red-btn" (click)="ngxSmartModalService.getModal('deleteTask').open();"><i class="fa fa-times" aria-hidden="true"></i></button>
  </div>
</div>
<div class="in-item-body-content" *ngIf="visibleTaskChildStatus">
  <div *ngFor="let in_item of itemData.childTasks">
      <project-task-item [itemData]="in_item"></project-task-item>
  </div>
</div>
<ngx-smart-modal #deleteTask identifier="deleteTask" customClass="medium-modal">
  <div class="form-group">
      <span>Удалить задачу <b>"{{ itemData.name }}"</b>?</span>
      <div class="red-btn" (click)="removeTask(itemData.id)">Удалить</div>
  </div>
</ngx-smart-modal>