<div class="task-list-body">
    <div class="item-cell discription-item-cell" *ngIf="tasks?.length==0">
        <span>Задачи по данным критериям поиска не найдены.</span>
    </div>
    <div class="task-body-item" *ngFor="let task of tasks">
        <div class="item-cell">
            <span>{{task.name}}</span>
        </div>
        <div class="item-cell discription-item-cell">
            <span>{{task.description}}</span>
        </div>
        <div class="item-cell name-item-cell">
            <div class="user-item">
                <div class="user-avatar">
                    <img src="./assets/avatar.png" alt="">
                </div>
                <div class="user-name">
                    <span><b>Дедлайн: </b>{{task.completionDate}}</span>
                    <span>{{task.responsibleName}}</span>
                </div>
            </div>
        </div>
        <div class="item-cell user-complite-task-count">
            <span><i class="fa fa-user" aria-hidden="true"></i></span>
            <span>0 / <span class="span-pointer"
                    (click)="setTask(task.id);ngxSmartModalService.getModal('taskStatusList').open();">{{task.implementers.length}}</span></span>
        </div>
        <div class="item-cell message-item-cell">
            <span><i class="fa fa-comment" aria-hidden="true"></i></span>
            <span>{{task.messagesCount}}</span>
        </div>
        <div class="item-cell btn-cell">
            <button class="blue-btn" routerLink="/task/{{task.id}}"><i class="fa fa-chevron-right"
                    aria-hidden="true"></i></button>
        </div>
    </div>
</div>
<ngx-smart-modal identifier="taskStatusList">
    <task-status-list [task]="task"></task-status-list>
</ngx-smart-modal>