<div class="content-div-new-zadacha">
  <div class="first-div-new-zadacha hidden-toggle-div-new-zadacha">
    <div class="data-form-new-zadacha">
      <div class="title-new-zadacha-form">
        <div class="text-title-new-zadacha-form  svorachvaemaya-panel">
          Настройки новой задачи
        </div>
      </div>
      <div class="content-data-form-new-zadacha">
        <div class="radio-group-div changeRadioButton">
          <span class="label-radio-form-new-zadacha">Кому будет поставлена задача</span>
          <div class="radio radioChange">
            <label><input name="appointedType" type="radio" [(ngModel)]="appointedType" [value]="1" [checked]="task.appointedTarget==1">По типу объекта</label>
          </div>
          <div class="radio radioChange">
            <label><input name="appointedType" type="radio" [(ngModel)]="appointedType" [value]="2" [checked]="task.appointedTarget==2">Объектам</label>
          </div>
          <div class="radio radioChange">
            <label><input name="appointedType" type="radio" [(ngModel)]="appointedType" [value]="3" [checked]="task.appointedTarget==3">Отделам</label>
          </div>
          <div class="radio radioChange">
            <label><input name="appointedType" type="radio" [(ngModel)]="appointedType" [value]="4" [checked]="task.appointedTarget==4">Ролями</label>
          </div>
          <div class="radio radioChange">
            <label><input name="appointedType" type="radio" [(ngModel)]="appointedType" [value]="5" [checked]="task.appointedTarget==5">Пользователям</label>
          </div>
          <div class="radio radioChange">
            <label><input name="appointedType" type="radio" [(ngModel)]="appointedType" [value]="6" [checked]="task.appointedTarget==6">Всем подчиненным</label>
          </div>
        </div>
        <div class="radio-group-div">
          <span class="label-radio-form-new-zadacha top-pad-form-new-zadacha">Настройки коммуникации</span>
          <div class="radio">
            <label><input name="communicationSettingsType" type="radio" [(ngModel)]="task.communicationSettingsType" [value]="1" [checked]="task.communicationSettingsType==1">С групповым обсуждением</label>
          </div>
          <div class="radio">
            <label><input name="communicationSettingsType" type="radio" [(ngModel)]="task.communicationSettingsType" [value]="2" [checked]="task.communicationSettingsType==2">С личным обсуждением</label>
          </div>
          <div class="radio">
            <label><input name="communicationSettingsType" type="radio" [(ngModel)]="task.communicationSettingsType" [value]="3" [checked]="task.communicationSettingsType==3">Без обсуждения</label>
          </div>
        </div>
        <div class="radio-group-div">
          <span class="label-radio-form-new-zadacha top-pad-form-new-zadacha">Контроль выполнения</span>
          <div class="radio">
            <label><input name="closeControlType" type="radio" [(ngModel)]="task.closeControlType" [value]="1" [checked]="task.closeControlType==1">Без действия</label>
          </div>
          <div class="radio">
            <label><input name="closeControlType" type="radio" [(ngModel)]="task.closeControlType" [value]="2" [checked]="task.closeControlType==2">Закрытие задачи</label>
          </div>
          <div class="radio">
            <label><input name="closeControlType" type="radio" [(ngModel)]="task.closeControlType" [value]="3" [checked]="task.closeControlType==3">Закрытие с принятием работы</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="last-div-new-zadacha">
    <div *ngIf="task.appointedTarget!=5">
      <checkbox-list name="objectTypeItems" *ngIf="task.appointedTarget==1" [listItemType]="1" [items]="objectTypeItems" (onSelectedItemsChanged)="onObjectTypeChanged($event)"></checkbox-list>
      <checkbox-list name="objectItems" *ngIf="task.appointedTarget==1 || task.appointedTarget==2" [listItemType]="2" [items]="objectItems" (onSelectedItemsChanged)="onObjectChanged($event)"></checkbox-list>
      <checkbox-list name="departmentItems" *ngIf="task.appointedTarget==3" [listItemType]="3" [items]="departmentItems" (onSelectedItemsChanged)="onDepartmentChanged($event)"></checkbox-list>
      <checkbox-list name="roleItems" *ngIf="task.appointedTarget==4" [listItemType]="4" [items]="roleItems" (onSelectedItemsChanged)="onRoleChanged($event)"></checkbox-list>
    </div>
    <div class="data-form-new-zadacha">
        <checkbox-list name="userItems" *ngIf="task.appointedTarget!=6" [listItemType]="5" [items]="userItems" [selectedIds]="task.implementers" (onSelectedItemsChanged)="onUserChanged($event)"></checkbox-list>
    </div>
  </div>
</div>