<div id="project-wizzard" [ngSwitch]="wizzardStep">
  <create-project *ngSwitchCase="1" [project]="project"></create-project>
  <project-task-resource *ngSwitchCase="2" [resource]="project.projectResource" [isProject]="true"></project-task-resource>
  <wizzard-buttons (onForward)="onForward()" (onBackward)="onBackward()" (onSave)="onSave()" [isLastStep]="isLastStep"></wizzard-buttons>
</div>