<div class="content-div-new-zadacha">
    <div class="first-div-new-zadacha hidden-toggle-div-new-zadacha">
      <div class="data-form-new-zadacha">
        <div class="title-new-zadacha-form">
          <div class="text-title-new-zadacha-form  svorachvaemaya-panel">
            НАСТРОЙКИ КОНТРОЛЯ ВЫПОЛНЕНИЯ ЗАДАЧИ
          </div>
        </div>
        <div class="content-data-form-new-zadacha">
          <div class="form-group">
            <label class="label-radio-form-new-zadacha top-pad-form-new-zadacha"></label>
            <div class="radio-group-div">
                <div class="radio radioRole">
                  <label><input type="radio" [(ngModel)]="task.implementationMonitoringType" [value]="1" [checked]="task.implementationMonitoringType==1">Контролируют выбранные пользователи</label>
                </div>
                <div class="radio radioRole">
                  <label><input  type="radio" [(ngModel)]="task.implementationMonitoringType" [value]="2" [checked]="task.implementationMonitoringType==2">Контролируют выбранные роли</label>
                </div>
                <div class="radio radioRole">
                  <label><input type="radio" [(ngModel)]="task.implementationMonitoringType" [value]="3" [checked]="task.implementationMonitoringType==3">Без контроля</label>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
    <div class="last-div-new-zadacha">
      <div class="data-form-new-zadacha">
          <checkbox-list *ngIf="task.implementationMonitoringType==2" name="roleItems" [listItemType]="4" [items]="roleItems" (onSelectedItemsChanged)="onRoleChanged($event)"></checkbox-list>
          <checkbox-list *ngIf="task.implementationMonitoringType==1" name="userItems" [listItemType]="5" [items]="userItems"  [selectedIds]="task.reviewers" (onSelectedItemsChanged)="onUserChanged($event)"></checkbox-list>
      </div>
    </div>
  </div>