<div class="top-filter">
  <div class="full-width-group">
    <div class="filter-btn-item" (click)="setFilterDatePeriodType(1)">
      <span>НЕДЕЛЯ</span>
    </div>
    <div class="filter-btn-item" (click)="setFilterDatePeriodType(2)">
      <span>МЕСЯЦ</span>
    </div>
    <div class="filter-group">
      <div class="filter-btn-item" (click)="setFilterDatePeriodType(3)">
        <span>КВАРТАЛ</span>
      </div>
      <div class="filter-btn-item active-btn">
        <span><i class="fa fa-chevron-up" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>
  <div class="filter-btn-item green" (click)="setFilterTaskType(11)">
    <div class="button-filter">
      <span>ЗАДАЧИ</span>
      <span class="count-span">{{filter.todayCount}}</span>
      <span>НА СЕГОДНЯ</span>
    </div>
  </div>
  <div class="filter-btn-item yellow" (click)="setFilterTaskType(10)">
    <div class="button-filter">
      <span>ЗАДАЧИ</span>
      <span class="count-span">{{filter.tomorrowCount}}</span>
      <span>НА ЗАВТРА</span>
    </div>
  </div>
  <div class="filter-btn-item red" (click)="setFilterTaskType(12)">
    <div class="button-filter">
      <span>ЗАДАЧИ</span>
      <span class="count-span">{{filter.pastCount}}</span>
      <span>ИCТЕКШИЕ</span>
    </div>
  </div>
  <div class="filter-btn-item" (click)="setFilterTaskType(8)">
    <div class="button-filter">
      <span>НОВЫЕ</span>
      <span class="count-span">{{filter.newIncomingCount}}</span>
      <span>ВХОДЯЩИЕ</span>
    </div>
  </div>
  <div class="filter-btn-item" (click)="setFilterTaskType(9)">
    <div class="button-filter">
      <span>НОВЫЕ</span>
      <span class="count-span">{{filter.newOutgoingCount}}</span>
      <span>ИСХОДЯЩИЕ</span>
    </div>
  </div>
  <div class="filter-btn-item new-task-btn" routerLink="/task-wizard/{{defaultGuid}}">
    <span>НОВАЯ ЗАДАЧА</span>
  </div>
  <div class="filter-btn-item" (click)="setFilterTaskType(5)">
    <div class="button-filter">
      <span>АКТИВНЫЕ</span>
      <span class="count-span">{{filter.activeIncomingCount}}</span>
      <span>ВХОДЯЩИЕ</span>
    </div>
  </div>
  <div class="filter-btn-item" (click)="setFilterTaskType(6)">
    <div class="button-filter">
      <span>АКТИВНЫЕ</span>
      <span class="count-span">{{filter.activeOutgoingCount}}</span>
      <span>ИСХОДЯЩИЕ</span>
    </div>
  </div>
  <div class="filter-btn-item" (click)="setFilterTaskType(4)">
    <div class="button-filter">
      <span>АКТИВНЫЕ</span>
      <span class="count-span">{{filter.activeControlingCount}}</span>
      <span>КОНТРОЛЬ</span>
    </div>
  </div>
  <div class="filter-btn-item" (click)="setFilterTaskType(2)">
    <div class="button-filter">
      <span>ВСЕ</span>
      <span class="count-span">{{filter.incomingCount}}</span>
      <span>ВХОДЯЩИЕ</span>
    </div>
  </div>
  <div class="filter-btn-item" (click)="setFilterTaskType(3)">
    <div class="button-filter">
      <span>ВСЕ</span>
      <span class="count-span">{{filter.outgoingCount}}</span>
      <span>ИСХОДЯЩИЕ</span>
    </div>
  </div>
  <div class="filter-btn-item" (click)="setFilterTaskType(1)">
    <div class="button-filter">
      <span>ВСЕ</span>
      <span class="count-span">{{filter.controlingCount}}</span>
      <span>КОНТРОЛЬ</span>
    </div>
  </div>
</div>