<div class="item-group">
    <div class="item-shedule-info">
        <div class="toggle-shedule-btn white" (click)="toggle()">
            <i *ngIf="!displayChild" class="fa fa-chevron-right" aria-hidden="true"></i>
            <i *ngIf="displayChild" class="fa fa-chevron-down" aria-hidden="true"></i>
        </div>
        <div class="shedule-info">
            <span class="title-proj">{{ task.name }}</span>
            <span class="name-user-shedule">Петров Николай Семенович</span>
        </div>
        <div class="shedule-resources">
            <div class="item-resources grey-1"><span>10000р</span></div>
            <div class="item-resources grey-2"><span>9900р</span></div>
            <div class="item-resources grey-3"><span>100р</span></div>
        </div>
    </div>
    <div *ngIf="displayChild" class="child-items-item-shedule">
        <section *ngFor = "let task of task.childTasks">
            <project-schedule-item [task]="task"></project-schedule-item>
        </section>
    </div>