<div class="control-panel">
        <div class="item-control">
            <button class="gray-btn" routerLink="/projects">ВЕРНУТЬСЯ</button>
        </div>
        <div class="line-up"></div>
        <div class="title-page" *ngIf="project"><span>ДИАГРАММА ВЫПОЛНЕНИЯ "<span class="blue-text">{{project.name}}</span>"</span></div>
        <div class="item-control">
            <div class="search-input">
                <span><i class="fa fa-search" aria-hidden="true"></i></span>
                <input type="text" placeholder="ПОИСК ПРОЕКТА">
            </div>
            <div class="item-control">
                <select class="date-select select-month" [(ngModel)]="selectedMonth" (ngModelChange)="onSelectedMonthChange($event)">
                    <option *ngFor="let month of months" [ngValue]="month.id">{{ month.name }}</option>
                </select>
            </div>
            <div class="item-control">
                <select class="date-select select-years"  [(ngModel)]="selectedYear" (ngModelChange)="onSelectedYearChange($event)">
                    <option value="2019">2019</option>
                    <option value="2020">2020</option>
                </select>
            </div>
        </div>
    </div>
    <preloader *ngIf="!tasks"></preloader>
    <div *ngIf="tasks" class="schedule-panel">
        <div class="left-section">
            <div class="schedule-panel-title">
                <span>ЗАДАЧИ</span>
            </div>
            <section *ngFor="let task of tasks">
                <project-schedule-item [task]="task"></project-schedule-item>
            </section>
        </div>
        <div class="right-section">
            <table class="table table-bordered">
                <tr>
                    <th *ngFor="let day of timeLineDateList" class="day-item-th">
                        <span>{{ day.day }}</span>
                        <span class="day-w">{{ day.wDay }}</span>
                    </th>
                </tr>
                <tr *ngFor="let task of tasks">
                    <td *ngFor="let day of task.timeline" class="day-item" [attr.colspan]="day.duration">
                        <div *ngIf="day.status != 0" class="status-schedule-item" [ngClass]="day.colorBg">
                            <span>{{day.statusName}}</span>
                            <span *ngIf="day.duration > 1">{{day.statusName}}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>