<div class="data-form-new-zadacha" id="window-maximize-new-zadacha-1">
  <div class="title-new-zadacha-form">
    <div class="text-title-new-zadacha-form  svorachvaemaya-panel">
      {{title}}
    </div>
  </div>
  <div class="content-data-form-new-zadacha">
    <div class="roli-table-form-new-zadacha">
      <div class="row-roli-table-form-new-zadacha search-panel-in-checkbox-list">
        <div class="name-roli-table-form-new-zadacha">
          <input id="search" type="text" class="form-control" placeholder="Поиск">
        </div>
      </div>
      <div *ngIf="items" class="content-data-form-new-zadacha content-roli-table-form-new-zadacha">
        <div class="row-roli-table-form-new-zadacha">
            <div class="checked-roli-table-form-new-zadacha">
              <input type="checkbox" [(ngModel)]="isAllChecked" [checked]="isAllChecked" (change)="onAllChecked()">
            </div>
            <div class="name-roli-table-form-new-zadacha">
              ВСЕ
            </div>
        </div>
        <div class="row-roli-table-form-new-zadacha" *ngFor="let item of items">
          <div class="checked-roli-table-form-new-zadacha">
            <input id="{{item.id}}" [(ngModel)]="item.isChecked" [checked]="item.isChecked" type="checkbox" (change)="selectedItemsChanged()">
          </div>
          <div class="name-roli-table-form-new-zadacha">
            {{item.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>