<div class="task-list-body">
        <div class="task-body-item">
            <div class="item-cell">
                <span>Тестовое задание</span>
            </div>
            <div class="item-cell discription-item-cell">
                <span>Описание задачи такое вот длинное длинное блять описание задачи</span>
            </div>
            <div class="item-cell name-item-cell">
                    <div class="user-item">
                        <div class="user-avatar">
                            <img src="./assets/avatar.png" alt="">
                        </div>
                        <div class="user-name">
                            <span><b>Дедлайн: </b>12-12-2001</span>
                            <span>Петров Николай</span>
                        </div>
                    </div>
                </div>
            <div class="item-cell user-task-status">
                <span class="user-task-status"><span>НОВАЯ</span></span>
            </div>
            <div class="item-cell message-item-cell">
                <span><i class="fa fa-comment" aria-hidden="true"></i></span>
                <span>0</span>
            </div>
            <div class="item-cell btn-cell">
                <button class="blue-btn"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>    
        </div>
        <div class="task-body-item">
            <div class="item-cell">
                <span>Тестовое задание</span>
            </div>
            <div class="item-cell discription-item-cell">
                <span>Описание задачи</span>
            </div>
            <div class="item-cell name-item-cell">
                <div class="user-item">
                    <div class="user-avatar">
                        <img src="./assets/avatar.png" alt="">
                    </div>
                    <div class="user-name">
                        <span><b>Дедлайн: </b>12-12-2001</span>
                        <span>Петров Николай</span>
                    </div>
                </div>
            </div>
            <div class="item-cell user-task-status">
                <span class="user-task-status"><span>НОВАЯ</span></span>
            </div>
            <div class="item-cell message-item-cell">
                <span><i class="fa fa-comment" aria-hidden="true"></i></span>
                <span>0</span>
            </div>
            <div class="item-cell btn-cell">
                <button class="blue-btn"><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            </div>    
        </div>
    </div>