<div class="title-new-zadacha-form">
  <div class="text-title-new-zadacha-form svorachvaemaya-panel">
    НАСТРОЙКА РЕСУРСОВ
  </div>
</div>
<div class="form-new-zadacha">
  <div class="object-filter-chek-list-analitika form-group">
    <div class="title-filter-form-chek-list-analitika">Тип ресурса</div>
    <select [(ngModel)]="resource.type" class="form-control">
      <option *ngFor="let resource of resources" [ngValue]="resource.id">{{ resource.name }}</option>
    </select>
  </div>
  <div class="form-group" *ngIf="isProject">
    <label><input type="checkbox" [(ngModel)]="needAddExpenditure"/> Создать новую статью расхода</label>
</div>
  <div class="object-filter-chek-list-analitika form-group" *ngIf="(!needAddExpenditure && isProject) || !isProject">
    <div class="title-filter-form-chek-list-analitika">Статья расхода</div>
    <select [(ngModel)]="resource.expenditureId" class="form-control">
      <option *ngFor="let expenditure of expenditures" [ngValue]="expenditure.id">{{ expenditure.name }}</option>
    </select>
  </div>
  <div class="object-filter-chek-list-analitika form-group">
    <div class="title-filter-form-chek-list-analitika">Количество ресурса</div>
    <input type="number" [(ngModel)]="resource.count" class="form-control" required>
  </div>
</div>