/* GENERAL STYLES */

* {
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 14px;
    line-height: 1;
}

.form-control {
  border-color: #9e9e9e;
}

label {
  font-weight: 600;
}

.small-text {
  font-size: 10px !important;
}

ng-component {
  height: 100%;
  display: flex;
  flex-direction: column;
}

app-root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

task-wizzard {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 0px 0px;
}

create-task {
  flex-grow: 1;
}

project-task-resource {
  flex-grow: 1;
}

create-task-settings {
  flex-grow: 1;
  display: flex;
}

wizzard-buttons {
  padding: 10px 10px 10px 10px;
  border-top: 1px solid #c9c9c9;
}

div#window-maximize-new-zadacha-1 {
  display: flex;
  flex-direction: column;
}

.checkbox > label > input {
  margin-right: 5px;
}

.radio > label > input {
  margin-right: 5px;
}

.content-data-form-new-zadacha.content-roli-table-form-new-zadacha>.row-roli-table-form-new-zadacha {
    background-image: linear-gradient(to right, #f9f9f9 , white);
}

.title-new-zadacha-form {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 0px 0px;
  text-transform: uppercase;
  border-bottom: 1px solid #c9c9c9;
  padding: 15px 15px 15px 15px;
  background: #ffffff;
  color: #000;
}

.form-new-zadacha {
  padding: 5px 15px;
}

.row-roli-table-form-new-zadacha {
  display: flex;
}

.row-roli-table-form-new-zadacha.search-panel-in-checkbox-list>div {
  flex-grow: 1;
}

.row-roli-table-form-new-zadacha>.checkbox {
  margin-right: 10px;
}

.row-roli-table-form-new-zadacha.search-panel-in-checkbox-list {
    padding-bottom: 10px;
    padding-top: 10px;
    height: 60px;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

implementation-monitoring {
    flex-grow: 1;
    max-height: 100%;
    overflow: overlay;
}

implementation-monitoring>.content-div-new-zadacha {
    display: flex;
}

implementation-monitoring .first-div-new-zadacha.hidden-toggle-div-new-zadacha {
    border-right: 1px solid #c9c9c9;
}

task-execution-order {
    max-height: 100%;
    flex-grow: 1;
}

.title-filter-form-chek-list-analitika {
    margin: 10px 0px 5px 0px;
    font-size: 12px;
    color: #424242;
}

.radio>label {
    font-weight: 100;
}

.first-div-new-zadacha.hidden-toggle-div-new-zadacha>.data-form-new-zadacha>.content-data-form-new-zadacha {
  padding: 0 15px;
}

create-task-settings>.content-div-new-zadacha>div:first-child {
  border-right: 1px solid #e9e9e9;
  max-width: fit-content;
}

.data-form-new-zadacha {
    max-height: 100%;
}

.data-form-new-zadacha>.content-data-form-new-zadacha {
    max-height: 100% !important;
    max-width: 100%;
    height: 100% !important;
    overflow-y: auto;
}

.last-div-new-zadacha>div {
    flex-grow: 1;
    border-right: 1px solid #e9e9e9;
}
create-task-settings>.content-div-new-zadacha>div {
    flex-grow: 1;
    max-height: 100%;
}

create-task-settings>.content-div-new-zadacha {
  display: flex;
  flex-grow: 1;
  max-height: 100%;
}

.last-div-new-zadacha {
    display: flex;
    flex-grow: 1;
}

.row-roli-table-form-new-zadacha>div {
  margin: auto 10px;
}
.row-roli-table-form-new-zadacha {
  display: flex;
  border-bottom: 1px solid #c9c9c9;
  height: 38px;
}

div#task-wizzard {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
}

button:active, button:focus {
  outline: none;
}

button.blue-btn.full-width {
    min-width: 100%;
    margin-bottom: 10px;
}

button::-moz-focus-inner {
  border: 0;
}

input:active, input:focus {
  outline: none;
}

input::-moz-focus-inner {
  border: 0;
}

select:active, input:focus {
  outline: none;
}

select::-moz-focus-inner {
  border: 0;
}

.blue-btn {
  padding: 10px 30px;
  background: #356dab;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  min-width: 33px;
}

.green-btn {
  padding: 10px 30px;
  background: #35ab3b;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  min-width: 33px;
}

.red-btn {
  padding: 10px 30px;
  background: #ec4141;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  min-width: 33px;
}

.gray-btn {
  padding: 10px 30px;
  background: #868686;
  color: #fff;
  border-radius: 5px;
  border: none;
  font-size: 13px;
  min-width: 33px;
}

.blue-btn:hover {
  background: #115096;
  color: #fff;
  cursor: pointer;
}

.btn-group-div>button:last-child {
  margin-right: 0px;
}
.btn-group-div>button {
  margin-right: 10px;
}

.green-btn:hover {
  background: #1c8e21;
  color: #fff;
  cursor: pointer;
}

.red-btn:hover {
  background: #ca2f2f;
  color: #fff;
  cursor: pointer;
}

.gray-btn:hover {
  background: #656565;
  color: #fff;
  cursor: pointer;
}

.green {
  background: #d6ffb6;
}

.blue {
  background: #8dc2ff;
}

.orange {
  background: #ffe070;
}

.red {
  background: #ffb6b6;
}
.blue-text {
  color: #356dab;
}

.gray {
  background: #ececec;
}

/* END */






.item-body.name-project>span:hover {
    cursor: pointer;
    color: #356dab;
}

.item-btn-section>button {
    height: 30px;
}



/* TASK */

.task-content {
    display: flex;
    flex-grow: 1;
    background: #eaeaea;
}

task-info {
    max-width: 65%;
}

.left-section {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-width: fit-content !important;
    padding: 10px 10px;
    background: #f9f9f9;
    min-width: 320px;
    max-width: 20%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.full-section {
    flex-grow: 1;
    padding: 10px 10px;
}

.full-section {
    flex-grow: 1;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.user-h-list {
    display: flex;
    overflow-x: scroll;
    padding-bottom: 10px;
}

.user-h-list > .user-item {
    min-width: fit-content;
    font-size: 12px;
    display: flex;
    flex-shrink: 0;
    border-right: 1px solid #c9c9c9;
    padding: 0px 10px 0px 10px;
}

.user-h-list > .user-item:last-child {
    border-right: none;
}

.window-panel {
    max-height: 97%;
    display: flex;
    flex-direction: column;
    background: #fff;
    flex-grow: 1;
    min-width: 32%;
    box-shadow: 1px 1px 18px -11px #00000061;
    z-index: 1;
    margin: 5px 5px;
    border: 1px solid #dedede;
}

.window-section>.window-panel {
    border: 2px solid #797979;
    border-radius: 10px;
    overflow: hidden;
}

.window-body {
    flex-grow: 1;
    padding: 15px;
    position: relative;
    overflow-y: auto;
}

.user-v-list {
    overflow: auto;
    max-height: 322px;
    margin-right: -15px;
    margin-top: -15px;
    margin-bottom: -15px;
    padding: 10px 0px 0 0;
}

.shadow-div {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    z-index: 3;
    background: linear-gradient(#ffffff00, #ffffffcf);
}

.window-panel.full-width-panel.chat-panel {
    min-height: 50%;
}

.window-title>* {
    margin: auto 10px;
}

.window-title {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #e4e4e4;
    background: linear-gradient(to right, #fbfbfb, #fff);
    flex-shrink: 0;
}

.chat-component {
    width: 100%;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.chat-list {
    min-height: 310px;
    flex-grow: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

chat {
    flex-grow: 1;
    min-height: 50%;
}

.window-panel.chat-panel .window-body {
    padding: 0;
    display: flex;
}

.window-panel.full-width-panel {
    width: 100%;
}

.window-title>span {
    margin-left: 15px;
}

.window-body>hr {
    margin: 15px -15px;
}

.window-body>.form-group>label {
    margin-bottom: 5px;
    font-weight: 600;
}

.window-body>.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.window-body>.form-group>span.italic {
    font-style: italic;
}

.window-body>.form-group>label {
    margin-bottom: 5px;
    font-weight: 600;
}

.window-body hr {
    height: 1px;
    border: none;
    color: #fff;
    background-color: #ececec;
}

.form-group-inline>label {
    font-weight: 600;
}

.user-avatar>img {
    width: 100%;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    overflow: hidden;
    margin: auto 0;
    flex-shrink: 0;
}

.user-item>.user-name {
    margin: auto 10px;
}

.user-item {
    display: flex;
}

.user-name>span>span {
    color: #c7c7c7;
    font-style: italic;
}

.user-item>.user-name {
    margin: auto 10px;
    flex-grow: 1;
}

.form-group-inline>* {
    margin: auto 5px auto 0px;
}

.form-group-inline {
    display: flex;
}

.form-group>.user-item:first-child {
    padding-top: 0;
}

.form-group>.user-item:last-child {
    border-bottom: none;
}

.form-group>.user-item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #e9e9e9;
}

.form-group.scroll-goup {
    overflow: auto;
    display: flex;
    max-height: 234px;
}

.top-section {
    display: flex;
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    max-height: 386px;
}

.window-body>.form-group:last-child {
    margin-bottom: -10px;
}

.top-filter {
    display: flex;
    flex-flow: wrap;
}

.filter-btn-item {
    height: 70px;
    width: 30%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background: #ffffff;
    padding: 5px 5px;
    font-size: 9px;
    border: 1px solid #e3e3e3;
}

.filter-btn-item.new-task-btn {
    background: #35ab3b;
    color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.filter-btn-item>span {
    margin: auto;
}

span.count-span {
    font-size: 21px;
}

.full-width-group>div {
    flex-grow: 1;
}
.full-width-group {
    flex-grow: 1;
    width: 100%;
    display: flex;
}

.filter-group {
    display: flex;
}

.full-width-group .filter-btn-item {
    height: 40px;
    flex-grow: 1.4;
    max-width: 31.3%;
}

.filter-group>div:last-child {
    min-width: fit-content;
    max-width: fit-content;
    padding: 0px 8px;
}

.left-section>.top-filter {
    margin-right: -10px;
    max-height: 40%;
    min-height: fit-content;
}

.left-section>.window-panel {
    max-height: 60%;
    flex-grow: 0;
}

.form-group-inline>.user-item {
    margin-left: 10px;
}

.filter-btn-item.active-btn {
    border: 1px solid #b7b7b7;
    box-shadow: 1px 1px 7px 0px #0002;
    border-radius: 5px;
}

.filter-btn-item:hover {
    cursor: pointer;
    border-color: #333;
}

.filter-group>div:first-child {
    max-width: initial;
}

.task-list>div:last-child {
    border-bottom: none;
    padding-bottom: 0px;
}

.task-list>div:first-child {
    padding-top: 0px;
}

.task-list>div {
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0 10px 0;
}

.task-item:hover {
    color: #ec4041;
    cursor: pointer;
}

.top-filter {
    flex-grow: 0;
    flex-shrink: 0;
}

.user-v-list .user-avatar {
    margin: auto 0;
}

.user-v-list>.user-item:first-child {
    padding-top: 0;
}

.user-v-list>.user-item:last-child {
    padding-bottom: 10px;
    border-bottom: none;
    justify-content: space-between;
}

.user-v-list>.user-item .user-status {
    display: flex;
}

.user-v-list>.user-item .user-status > * {
    margin: auto 0;
}

.user-v-list>.user-item .user-status > *:first-child {
    margin: auto 10px;
}

.user-v-list>.user-item {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 10px;
    padding-top: 10px;
}

span.user-task-status>span {
    margin: auto;
}

button.blue-btn.save-btn {
    padding: 13px 13px;
}

.user-status select {
    max-width: 230px;
    margin-right: 10px;
}

.user-status textarea {
    min-width: 100%;
}

.user-info>* {
    margin: auto 15px;
}

.user-info {
    display: flex;
    flex-grow: 1;
}

span.user-task-status {
    background: #696969;
    color: #fff;
    display: flex;
    height: 30px;
    width: fit-content;
    padding: 0 20px;
    text-transform: uppercase;
    border-radius: 15px;
}

span.new-task-span.user-task-status {
    background: #36ab3b;
}

.top-section>.window-panel {
    max-height: fit-content;
}

.message-item {
    display: flex;
    flex-direction: column;
    padding: 0px 15px 0px 15px;
}

.user-message>* {
    margin: auto 10px auto 0px !important;
}

.user-message {
    display: flex;
    width: fit-content;
}

.text-message {
    margin: 0px 15px 10px 50px;
    background: #fff;
    width: fit-content;
    padding: 10px 10px;
    border: 1px solid #e8e8e8;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    box-shadow: 1px 1px 16px -9px #0002;
}

.user-name.root-user>span>span {
    color: #636363;
}

.user-name.root-user {
    color: #f00 !important;
}

.chat-control>input {
    flex-grow: 1;
    margin-right: 10px;
    padding: 0 10px;
    font-size: 13px;
}

.chat-control {
    display: flex;
    background: #fff;
    border-top: 1px solid #e4e4e4;
    padding: 10px 15px;
}

.window-panel.chat-panel {
    min-height: 100%;
}

.chat-list>.message-item:first-child {
    margin-bottom: 10px;
}

.chat-list>.message-item:last-child {
    padding-top: 10px;
}

.form-group-inline>label, .window-body>label {
    margin-bottom: auto;
}

task-status-list {
    max-height: 386px;
    flex-grow: 1;
}

task-status {
    flex-grow: 1;
}

@media (max-width: 376px) {
   
    .window-panel.chat-panel {
        min-height: 500px !important;
    }

}

@media (max-width: 838px) {
   
    .user-h-list {
        flex-direction: column;
    }

    .user-avatar {
        margin: auto 0;
    }
    
    .user-h-list > .user-item {
        padding: 10px 0;
        border-bottom: 1px solid #e6e6e6;
        border-right: none;
    }

    .user-h-list > .user-item:first-child {
        padding-top: 0;
    }

    .user-h-list > .user-item:last-child {
        padding: 10px 0px 0px 0px;
        border-bottom: none;
    }
}

@media (max-width: 1365px) {
   
    .top-section {
        flex-direction: column;
        max-height: fit-content;
        min-height: fit-content;
    }

    task-info {
        max-width: initial;
    }
    
    .user-v-list {
        max-height: initial;
    }

    .left-section>.top-filter {
        max-height: 50%;
    }

    task-status-list {
        max-height: initial;
    }

}

@media (max-width: 838px) {

    body, html {
        height: initial;
        background: #f5f5f5;
    }
    
    .chat-control>button.gray-btn {
        font-size: 12px;
        padding: 10px 10px;
    }

    .user-message>* {
        margin: auto 10px auto 0px !important;
        font-size: 12px;
    }

   .left-section>.top-filter {
        max-height: initial;
    }

    .left-section>.window-panel {
        max-height: initial;
    }

   .left-section {
        max-width: initial;
    }

    .task-content>div {
        width: 100%;
    }

    .task-content {
        flex-direction: column;
    }

    .window-panel {
        min-width: 100%;
        min-height: 100px;
        margin: 5px 0px;
    }

    .window-panel.chat-panel {
        min-height: 320px;
    }

    .form-group.scroll-goup {
        max-height: 400px;
    }
    
}

/* ENT TASK */



/* I TASK LIST */

user-tasks {
    display: flex;
    flex-grow: 1;
}

implementer-task-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.task-list-body {
    background: #f5f5f5;
    flex-grow: 1;
    padding: 10px;
}

.task-body-item {
    display: flex;
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #e4e4e4;
    box-shadow: 1px 1px 9px -4px #0007;
    min-height: 60px;
}

.task-body-item>.item-cell:first-child {
    flex-grow: 1;
    flex-shrink: 0;
}

.task-body-item>.item-cell:last-child {
    border-right: none;
}

.task-body-item>.item-cell {
    display: flex;
    border-right: 1px solid #ececec;
    min-width: 60px;
    padding: 10px 10px;
    font-size: 13px;
}

.task-body-item>.item-cell:first-child>span {
    margin: auto 10px;
    font-weight: 600;
    text-transform: uppercase;
}

.task-body-item>.item-cell>span {
    margin: auto;
}

.task-body-item>.item-cell.name-item-cell>span {
    margin: auto 0px;
}

.item-cell.name-item-cell {
    width: 240px;
    max-width: 240px;
    flex-shrink: 0;
    flex-flow: wrap;
    display: flex;
}

.item-cell.discription-item-cell {
    width: 320px;
}

.item-cell.discription-item-cell>span {
    margin: auto 0px;
    line-height: 1.4;
}

.item-cell.name-item-cell .user-name {
    line-height: 1.5;
    font-size: 12px;
    display: flex;
    flex-direction: column;
}

.item-cell.user-complite-task-count {
    width: 100px;
    /* border: 1px solid #333; */
    background: #fbfbfb;
}

.item-cell.message-item-cell {
    background: #fbfbfb;
    width: 60px;
}

.item-cell.btn-cell>button {
    min-width: 40px !important;
    padding: 0 0 !important;
}

.task-body-item>.item-cell.name-item-cell>span:last-child {
    font-size: 12px;
}

.task-body-item>.item-cell.name-item-cell>span:first-child {
    margin-bottom: 5px;
}

reviewer-task-list {
    width: 100%;
    background: #f5f5f5;
}

.span-pointer {
    cursor: pointer;
}

.item-cell.user-task-status {
    width: 200px;
}

@media (max-width: 838px) {
    
    .item-cell.name-item-cell {
        padding: 10px 10px !important;
    }
    
    .task-body-item>div>span {
        margin: auto 10px !important;
    }
    
    .task-body-item>div {
        min-width: initial !important;
        max-width: initial !important;
        width: 100% !important;
        border: none;
        border-bottom: 1px solid #e9e9e9;
        padding: 10px 0px !important;
    }

    .task-body-item {
        flex-direction: column;
        flex-flow: row wrap;
    }

    .item-cell.message-item-cell, .task-body-item>.item-cell:last-child {
        max-width: 20% !important;
        border-right: 1px solid #e9e9e9;
    }

    .item-cell.user-task-status, .item-cell.user-complite-task-count {
        width: 60% !important;
        min-width: initial !important;
    }

    .item-cell.btn-cell {
        padding: 3px 3px !important;
    }
    
    .item-cell.btn-cell>button {
        width: 100%;
        padding: 0px 0;
    }

    .task-body-item>.item-cell:first-child {
        background: #f9f9f9;
        border: 1px solid #9e9e9e;
    }
 
    .task-body-item>.item-cell:first-child>span {
        text-transform: uppercase;
        font-weight: 600;
    }

}

@media (max-width: 380px) {
 
    .item-cell.name-item-cell>span:first-child {
        padding-bottom: 10px !important;
    }

    .item-cell.name-item-cell {
        flex-direction: column;
    }  

}
/* END */


/* ВЕРХНЯЯ ПАНЕЛЬ */


.title-page>span {
    margin: auto 20px;
}

.title-page {
    display: flex;
}

.item-control>.item-control {
    margin-left: 10px;
}

.control-panel {
    padding: 10px;
    border-bottom: 1px solid #c9c9c9;
    flex-shrink: 0;
    flex-grow: 0;
    display: flex;
    min-width: 910px;
}

.control-panel>div {
    margin-right: 10px;
}

.control-panel>div:last-child {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 0px;
}

.content-panel {
    flex-grow: 1;
    padding: 10px;
    overflow-x: auto;
    background: #f9f9f9;
    min-width: fit-content;
}

.search-input>span {
    border: 1px solid #ccc;
    padding: 9px 10px 10px 10px;
    font-size: 14px;
    margin: 0px -5px 0px 0px;
    display: inline-block;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.search-input>input {
    padding: 8px 10px 9px 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #ccc;
    min-width: 250px;
}

select.date-select {
    height: 35px;
    background: #fff;
    border-radius: 8px;
    font-size: 12px;
    width: fit-content;
}

select.date-select.select-years {
    width: 70px;
}

select.date-select.select-month {
    margin-right: 10px;
}

.line-up {
    width: 1px;
    margin: -10px 0 !important;
    background: #c9c9c9;
}

/* END */


.schedule-panel {
    display: flex;
    flex-grow: 1;
}

.schedule-panel>.right-section {
    flex-grow: 1;
    padding: 10px;
    overflow-x: auto;
    min-height: fit-content;
}

.schedule-panel-title>span {
    margin: auto 10px;
}

.schedule-panel-title {
    border: 1px solid #c9c9c9;
    background: #fff;
    height: 40px;
    display: flex;
    font-size: 12px;
    font-weight: 600;
}

.item-shedule-info>.shedule-info {
    display: flex;
    flex-direction: column;
    padding: 5px 0;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
    border-right: 1px solid #c9c9c9;
    flex-grow: 1;
}

.toggle-shedule-btn {
    width: 40px;
    height: 40px;
    background: #e9e9e9;
    border: 1px solid #333;
    display: flex;
}

.toggle-shedule-btn>i {
    margin: auto;
    font-size: 20px;
}


span.name-user-shedule {
    font-size: 11px !important;
}

.item-shedule-info>.shedule-info>span {
    margin: auto 10px;
    font-size: 12px;
}

.item-shedule-info>.shedule-info>span {
    margin: auto 10px;
}

.item-shedule-info {
    display: flex;
    height: 40px;
    background: #fff;
}

span.title-proj {
    font-weight: 600;
}

.item-resources {
    font-family: sans-serif;
    font-size: 9px;
    border-top: 1px solid #c9c9c9;
    
    border-right: 1px solid #c9c9c9;
    flex-grow: 1;
    display: flex;
}

.shedule-resources>.item-resources:last-child {
    border-bottom: 1px solid #c9c9c9;
}

.shedule-resources {
    width: 70px;
    display: flex;
    flex-direction: column;
}

.item-resources>span {
    margin: auto 3px;
}

.item-resources.grey-3 {
    background: #efefef;
}

.item-resources.grey-2 {
    background: #f5f5f5;
}

.item-resources.grey-1 {
    background: #fff;
}

.left-section>.item-group:not(:first-child)+div>div>* {
    border-top: none !important;
}

.child-items-item-shedule>.item-group:not(:first-child)>div>* {
    border-top: none !important;
}

.child-items-item-shedule {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.child-items-item-shedule>div:first-child .shedule-info, .child-items-item-shedule>div:first-child .shedule-resources {
    border-top: 1px solid #c9c9c9;
}

.schedule-panel {
    overflow-y: scroll;
}

.shedule-info *, .shedule-resources * {
    white-space: nowrap;
}

.schedule-panel>.left-section>div {
    min-width: fit-content;
}

.schedule-panel>.left-section * {
    flex-shrink: 0;
}

.white {
    background: #fff !important;
}

th.day-item-th, td.day-item {
    height: 40px;
    padding: 4px;
    vertical-align: middle;
    text-align: center;
    width: 80px;
    min-width: 80px;
}

td.in-child-td {
    background: none;
    border: none;
    padding: 10px 0px;
}

.schedule-panel>.right-section .table-bordered {
    border: none !important;
}

.status-schedule-item>span {
    margin: auto 10px;
    font-size: 10px;
    text-transform: lowercase;
}

.status-schedule-item {
    width: 100%;
    border: 2px solid #333;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

th.day-item-th.today {
    background: #007bff;
    color: #fff;
}

td.day-item.today {
    background: #fbfbfb;
}

th.day-item-th>span {
    display: block;
}

span.day-w {
    font-weight: 100;
    font-size: 10px;
    margin: 5px 0 0px 0;
}