<div class="window-panel">
  <div class="window-title">
    <span>АКТУАЛЬНЫЕ ЗАДАЧИ</span>
    <div class="title-btn-section">
      <i class="fa fa-search" aria-hidden="true" style="font-size: 18px;"></i>
    </div>
  </div>
  <div class="window-body">
    <div class="task-list">
      <div class="task-item" *ngFor="let task of tasks" routerLink="/task/{{task.id}}"><span>{{task.name}}</span></div>
    </div>
  </div>
</div>