<div class="btn-group-div">
    <button (click)="backward()" class="gray-btn">Назад</button>
    <button *ngIf="!isLastStep" (click)="forward()" class="blue-btn">Вперед</button>
    <button *ngIf="isLastStep" (click)="save()" class="green-btn">Сохранить</button>
</div>