<div id="task-edit-wizzard" [ngSwitch]="wizzardStep">
  <create-task *ngSwitchCase="1" [task]="task"></create-task>
  <implementation-monitoring *ngSwitchCase="2" [task]="task"></implementation-monitoring>
  <create-task-settings *ngSwitchCase="3" [task]="task"></create-task-settings>
  <project-task-resource *ngSwitchCase="4" [resource]="task.taskResource"></project-task-resource>
  <task-execution-order *ngSwitchCase="5" [task]="task"></task-execution-order>
  <wizzard-buttons (onForward)="onForward()" (onBackward)="onBackward()" (onSave)="onSave()" [isLastStep]="isLastStep"></wizzard-buttons>
</div>