<div class="item-content">
    <div class="title-content">
      <div class="item-title name-project" ><span>НАЗВАНИЕ ПРОЕКТА</span></div>
      <div class="item-title bos"><span>ОТВЕТСТВЕННЫЙ</span></div>
      <div class="item-title task-end"><span>ЗАДАЧ ВЫПОЛНЕНО</span></div>
      <div class="item-title process"><span>ПРОЦЕСС</span></div>
      <div class="item-title task-count"><span>ЗАДАЧ ВСЕГО</span></div>
      <div class="item-title start-date"><span>НАЧАЛО</span></div>
      <div class="item-title end-date"><span>КОНЕЦ</span></div>
      <div class="item-title resources-all"><span>ДОСТУПНО</span></div>
      <div class="item-title resources-consumed"><span>РАСХОД</span></div>
      <div class="item-title resources-balance"><span>ОСТАТОК</span></div>
      <div class="item-btn-section"></div>
    </div>
</div>
<div *ngIf="!allProject">
  <preloader></preloader>
</div>
<div *ngFor="let item of allProject" class="item-content">
  <project-item [itemData]="item" (onDelete)="onDelete()"></project-item>
</div>