<div class="window-panel">
        <div class="window-title">
            <span>СТАТУС ВЫПОЛНЕНИЯ</span>
            <div class="title-btn-section">
                <i class="fa fa-search" aria-hidden="true" style="font-size: 18px;"></i>
            </div>
        </div>
        <div class="window-body">
            <div class="user-v-list">
                <div class="user-item" *ngFor="let implementer of implementers">
                    <div class="user-avatar">
                        <img src="./assets/avatar.png" alt="">
                    </div>
                    <div class="user-name">
                        <span>{{ implementer.implementerName }} <span>({{ implementer.implementerRoleName }})</span></span>
                    </div>
                    <div class="user-status">
                        <span class="new-task-span user-task-status"><span>{{ implementer.statusName }}</span></span>
                    </div>
                </div>
            </div>
            <div class="shadow-div"></div>
        </div>
    </div>