<div class="col-xs-12 panelka">
  <div class="panelka-body-new-zadacha-form">
    <div class="title-new-zadacha-form">
      <div class="text-title-new-zadacha-form svorachvaemaya-panel">
        {{ title }}
      </div>
    </div>
    <div class="form-new-zadacha">
      <div class="object-filter-chek-list-analitika form-group">
        <div class="title-filter-form-chek-list-analitika">Заголовок</div>
        <input type="text" name="Title" [(ngModel)]="task.name" class="form-control"
          placeholder="Укажите заголовок задачи" required>
      </div>
      <div class="object-filter-chek-list-analitika form-group">
        <div class="title-filter-form-chek-list-analitika">Текст задачи</div>
        <textarea name="Text" [(ngModel)]="task.description" class="form-control" rows="4" required></textarea>
      </div>
      <div class="object-filter-chek-list-analitika form-group">
        <div class="title-filter-form-chek-list-analitika">Ответственный</div>
        <select [(ngModel)]="task.responsibleId" class="form-control">
          <option *ngFor="let responsible of responsibles" [ngValue]="responsible.id">{{ responsible.name }}</option>
        </select>
      </div>
      <div class="object-filter-chek-list-analitika">
        <div class="title-filter-form-chek-list-analitika">Прикрепитиь файл</div>
        <div class="input-group input-file" name="File">
          <input type="file" class="form-control" placeholder='Выберите файл' (change)="onFileChange($event)"/>
        </div>
      </div>
      <div class="date-period-chek-list-analitika">
        <div class="data-picer-form-new-zadacha">
          <div class="title-filter-form-chek-list-analitika">Начало</div>
          <div>
            <div class="input-group date datetimepicker" id="datepicer-1">
              <input type="date" name="Since" [(ngModel)]="task.startDate" class="form-control datapicer"
                placeholder="00.00.0000">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="date-period-chek-list-analitika">
        <div class="data-picer-form-new-zadacha">
          <div class="title-filter-form-chek-list-analitika">Конец</div>
          <div>
            <div class="input-group date datetimepicker" id="datepicer-2">
              <input type="date" name="For" [(ngModel)]="task.completionDate" class="form-control datapicer"
                placeholder="00.00.0000">
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>