.panelka-body-new-zadacha-form {
    display: flex;
    flex-direction: column;
}

.content-div-new-zadacha {
    overflow-y: auto;
    height: 100%;
}

.object-filter-chek-list-analitika, .date-period-chek-list-analitika {
    max-width: 340px;
}

.date-period-chek-list-analitika {
    margin-top: 15px;
}

.object-filter-chek-list-analitika input.form-control {
    height: initial !important;
}