<div class="task-content">
	<div class="left-section">
		<!-- <task-add-expense-btn></task-add-expense-btn> -->
		<task-filter></task-filter>
		<task-actual></task-actual>
		
	</div>
	<div class="full-section">
		<div *ngIf="task" class="top-section">
			<task-info [task]="task"></task-info>
			<task-status-list *ngIf="isReviewer" [task]="task"></task-status-list>
			<task-status *ngIf="isImplementer" [task]="task" (onStatusChanged)="getTask()"></task-status>
		</div>
		<chat *ngIf="task && task.communicationSettingsType!=3" [task]="task"></chat>
	</div>
</div>