<div class="control-panel">
  <div class="item-control">
    <button class="blue-btn" (click)="onAddProject()">ДОБАВИТЬ ПРОЕКТ</button>
  </div>
  <div class="item-control">
    <button class="green-btn" routerLink="/projects/schedule">ГРАФИК</button>
  </div>
  <div class="item-control">
    <div class="search-input">
      <span><i class="fa fa-search" aria-hidden="true"></i></span>
      <input type="text" placeholder="ПОИСК ПРОЕКТА">
    </div>
  </div>
</div>
<div class="content-panel">
  <project-list></project-list>
</div>
