<div class="col-xs-12 panelka">
  <div class="panelka-body-new-zadacha-form">
    <div class="title-new-zadacha-form">
      <div class="text-title-new-zadacha-form svorachvaemaya-panel">
        НАСТРОЙКА ИСПОЛНЕНИЯ ЗАДАЧИ
      </div>
    </div>
    <div class="form-new-zadacha">
      <div class="object-filter-chek-list-analitika form-group">
        <div class="title-filter-form-chek-list-analitika">Тип порядка исполнения задачи</div>
        <select [(ngModel)]="task.executionOrder.executionOrderType" class="form-control">
          <option *ngFor="let executionOrderType of executionOrderTypes" [ngValue]="executionOrderType.id">{{ executionOrderType.name }}</option>
        </select>
      </div>
      <div class="object-filter-chek-list-analitika form-group" *ngIf="task.executionOrder.executionOrderType==1">
        <div class="title-filter-form-chek-list-analitika">Порядок исполнения задачи</div>
        <input type="number" [(ngModel)]="task.executionOrder.executionOrder" class="form-control" required>
      </div>
    </div>
  </div>
</div>