<div class="control-panel">
    <div class="item-control">
        <button class="gray-btn" routerLink="/projects">ВЕРНУТЬСЯ</button>
    </div>
    <div class="line-up"></div>
    <div class="title-page" *ngIf="project"><span>ДИАГРАММА ВЫПОЛНЕНИЯ ПРОЕКТЫ</span></div>
    <div class="item-control">
        <div class="search-input">
            <span><i class="fa fa-search" aria-hidden="true"></i></span>
            <input type="text" placeholder="ПОИСК ПРОЕКТА">
        </div>
        <div class="item-control">
            <select class="date-select select-month" [(ngModel)]="selectedMonth" (ngModelChange)="onSelectedMonthChange($event)">
                <option *ngFor="let month of months" [ngValue]="month.id">{{ month.name }}</option>
            </select>
        </div>
        <div class="item-control">
            <select class="date-select select-years"  [(ngModel)]="selectedYear" (ngModelChange)="onSelectedYearChange($event)">
                <option value="2019">2019</option>
                <option value="2020">2020</option>
            </select>
        </div>
    </div>
</div>
<div class="schedule-panel">
    <div class="left-section">
        <div class="schedule-panel-title">
            <span>ПРОЕКТЫ</span>
        </div>
        <div class="item-group">
            <div class="item-shedule-info">
                <div class="toggle-shedule-btn">
                    
                </div>
                <div class="shedule-info">
                    <span class="title-proj">Тестовый проект</span>
                    <span class="name-user-shedule">Петров Николай Семенович</span>
                </div>
                <div class="shedule-resources">
                    <div class="item-resources grey-1"><span>10000р</span></div>
                    <div class="item-resources grey-2"><span>9900р</span></div>
                    <div class="item-resources grey-3"><span>100р</span></div>
                </div>
            </div>
        </div>
        <div class="item-group">
            <div class="item-shedule-info">
                <div class="toggle-shedule-btn white">
                    <i class="fa fa-chevron-down" aria-hidden="true"></i>
                </div>
                <div class="shedule-info">
                    <span class="title-proj">Тестовый проект</span>
                    <span class="name-user-shedule">Петров Николай Семенович</span>
                </div>
                <div class="shedule-resources">
                    <div class="item-resources grey-1"><span>10000р</span></div>
                    <div class="item-resources grey-2"><span>9900р</span></div>
                    <div class="item-resources grey-3"><span>100р</span></div>
                </div>
            </div>
            <div class="child-items-item-shedule">
                <div class="item-group">
                    <div class="item-shedule-info">
                        <div class="toggle-shedule-btn">
                            
                        </div>
                        <div class="shedule-info">
                            <span class="title-proj">Тестовый проект</span>
                            <span class="name-user-shedule">Петров Николай Семенович</span>
                        </div>
                        <div class="shedule-resources">
                            <div class="item-resources grey-1"><span>10000р</span></div>
                            <div class="item-resources grey-2"><span>9900р</span></div>
                            <div class="item-resources grey-3"><span>100р</span></div>
                        </div>
                    </div>
                </div>
                <div class="item-group">
                    <div class="item-shedule-info">
                        <div class="toggle-shedule-btn">
                            
                        </div>
                        <div class="shedule-info">
                            <span class="title-proj">Тестовый проект</span>
                            <span class="name-user-shedule">Петров Николай Семенович</span>
                        </div>
                        <div class="shedule-resources">
                            <div class="item-resources grey-1"><span>10000р</span></div>
                            <div class="item-resources grey-2"><span>9900р</span></div>
                            <div class="item-resources grey-3"><span>100р</span></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-section">
        <table class="table table-bordered">
            <tr>
                <th class="day-item-th">
                    <span>1</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>2</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>3</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>4</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>5</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>6</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>7</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>8</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>9</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th today">
                    <span>10</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>11</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>12</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>13</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>14</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>15</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>16</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>17</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>18</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>19</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>20</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>21</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>22</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>23</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>24</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>25</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>26</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>27</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>28</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>29</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>30</span>
                    <span class="day-w">ПН</span>
                </th>
                <th class="day-item-th">
                    <span>31</span>
                    <span class="day-w">ПН</span>
                </th>
            </tr>
            <tr>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item">
                    <div class="status-schedule-item blue">
                        <span>новый проект</span>
                    </div>
                </td>
                <td class="day-item" colspan="7">
                    <div class="status-schedule-item orange">
                        <span>в работе</span>
                        <span>в работе</span>
                    </div>
                </td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
            </tr>
            <tr>
                <td class="day-item"></td>
                <td class="day-item">
                    <div class="status-schedule-item blue">
                        <span>новый проект</span>
                    </div>
                </td>
                <td class="day-item" colspan="8">
                    <div class="status-schedule-item orange">
                        <span>в работе</span>
                        <span>в работе</span>
                    </div>
                </td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
                <td class="day-item"></td>
            </tr>
            <tr class="in-child-tr">
                <td class="in-child-td" colspan="31">
                    <table class="table table-bordered">
                        <tr>
                            <td class="day-item"></td>
                            <td class="day-item">
                                <div class="status-schedule-item blue">
                                    <span>новый проект</span>
                                </div>
                            </td>
                            <td class="day-item" colspan="4">
                                <div class="status-schedule-item orange">
                                    <span>в работе</span>
                                    <span>в работе</span>
                                </div>
                            </td>
                            <td class="day-item">
                                <div class="status-schedule-item green">
                                    <span>выполнена</span>
                                </div>
                            </td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item today"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                        </tr>
                        <tr>
                            <td class="day-item"></td>
                            <td class="day-item">
                                <div class="status-schedule-item blue">
                                    <span>новый проект</span>
                                </div>
                            </td>
                            <td class="day-item" colspan="8">
                                <div class="status-schedule-item orange">
                                    <span>в работе</span>
                                    <span>в работе</span>
                                </div>
                            </td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                            <td class="day-item"></td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>